<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <h1 class="logo"><a href="{{ "/" | prepend: site.baseurl }}"><span>{{ site.title | upcase }}</a></h1>
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        {%- for items in site.translations[site.lang]["navbar"] -%}          
          	{%- for item in items -%} 
          		{%- if item["slug"] == "/" -%}
	          		<li>  
	         			<a href='{{- "/" | prepend: site.baseurl -}}' title='{{- item["title"] -}}'> 
	          				{{- item["title"] }}
	          			</a>
	        		</li>
	        	{%- elsif item["slug"] -%}
	        		<li>  
	        			<a href='{{- "/" | prepend: site.baseurl -}}{{- item["slug"] -}}' title='{{- item["title"] -}}'>
	          				{{- item["title"] }}
	          			</a>
	        		</li>
        		{%- endif -%}
     		{%- endfor -%}	
     	{%- endfor -%}

        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-rss"></i></a></li>
         {{ site.lang }}
        {% if site.lang == "en" %}
        	{%- for items in site.translations[site.lang]["navbar"] -%}          
	          	{%- for item in items -%} <br>
	          		{%- if item.slug -%}
	          			{% if item.slug_compare  == page.url  %}
	          				Url {{ page.url | prepend: site.baseurl }}
							<li>
								{%- capture url -%} {%- endcapture -%}
					        	<a href="{{ item.slug_trl }}" title="{% t global.spanish %}" >
					              <img src="{{ site.url }}/images/blank.gif" class="flag flag-es" alt="{% t global.spanish %}" />
					            </a>
				         	</li>
	          			{% endif %}
	          		{%- endif -%}
	     		{%- endfor -%}	
     		{%- endfor -%}
        {%- elsif site.lang == "es" -%}
        	{%- for items in site.translations[site.lang]["navbar"] -%}          
	          	{%- for item in items -%} <br>
	          		{%- if item.slug -%}
	          			{% if item.slug_compare  == page.url  %}
							<li>
					        	<a href="{{ item.slug_trl | prepend: site.baseurl | replace: 'es' }}" title="{% t global.english %}" >
					              <img src="{{ site.url }}/images/blank.gif" class="flag flag-us" alt="{% t global.english %}" />
					            </a>
				         	</li>
	          			{% endif %}
	          		{%- endif -%}
	     		{%- endfor -%}	
     		{%- endfor -%}
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
