<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <h1 class="logo"><a href="{{ "/" | prepend: site.baseurl }}"><span>{{ site.title | upcase }}</a></h1>
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}" title="Home">{%- t titles.home -%}</a></li>
        {% for item in site.navbar %}
          {% capture title %} {{ item.slug | prepend: "titles." }} {% endcapture %}
          {% assign title = title  | lstrip | rstrip %}
          <li><a href="{{ '/' | prepend: site.baseurl }}{{ item.slug }}" title="{{ item.title }}">{% t title  %}</a></li>
        {% endfor %}

        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-rss"></i></a></li>
        {% if site.lang == "en" %}
          {% capture link1 %} {{ site.url }}/es{{ page.url }}{% endcapture %}
          <li>
            <a href="{{ link1 }}" title="{% t global.spanish %}" >
              <img src="{{ site.url }}/images/blank.gif" class="flag flag-es" alt="{% t global.spanish %}" />
            </a>
          </li>
        {% elsif site.lang == "es" %}
          {% capture link2 %} {{ site.url }}{{ page.url }}{% endcapture %}
          <li>
            <a href="{{ link2 }}" title="{% t global.english %}" >
              <img src="{{ site.url }}/images/blank.gif" class="flag flag-us" alt="{% t global.english %}" />
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
