<ul class="social">
   {% if site.author.twitter_username %}
    <!-- Twitter -->
    <li>
      <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
      <i class="icon icon-twitter"></i>
      <!--<span class="label">Twitter</span>-->
      </a>
    </li>
  {% endif %}
  {% if site.author.facebook_username %}
    <!-- Facebook -->
    <li>
      <a href="https://facebook.com/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank">
        <i class="icon icon-facebook"></i>
        <!--<span class="label">Facebook</span>-->
      </a>
    </li>
  {% endif %}
  
  {% if site.author.linkedin_username %}
    <!-- LinkedIn -->
    <li>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
        <i class="icon icon-linkedin"></i>
        <!--<span class="label">LinkedIn</span>-->
      </a>
    </li>
  {% endif %}

  {% if site.author.github_username %}
    <!-- GitHub -->
    <li>
      <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
        <i class="icon icon-github"></i>
        <!--<span class="label">GitHub</span>-->
      </a>
    </li>
  {% endif %}
  {% if site.author.email %}
    <!-- Email -->
    <li>
      <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
        <i class="icon icon-mail"></i>
        <!--<span class="label">Email</span>-->
      </a>
    </li>
  {% endif %}

  <!-- RSS -->
  <li>
    <a href="{{ site.baseurl }}/feed.xml" title="Subscribe" target="_blank">
      <i class="icon icon-rss"></i>
      <!--<span class="label">RSS</span>-->
    </a>
  </li>

</ul>