{%- if site.lang == site.defaultLang -%}
  {%- if page.layout == 'post' -%}
    <a href="{{- site.baseurl -}} {{- site.translateLang | prepend: '/' -}} {{-  page.permalink_trl | prepend: '/' -}}" title="{% t global.english %}" >
      <img src="{{ site.url }}/images/blank.gif" class="flag flag-us" alt="{% t global.english %}" />
    </a>
  {%- elsif page.layout == 'page' -%}
    {%- for items in site.translations[site.defaultLang]["navbar"] -%}
      {%- for item in items -%}
        {%- if item.slug -%}
          {%- if item.slug_compare == page.url -%}
            <a href="{{- site.baseurl -}} {{- site.translateLang | prepend: '/' -}} {{- item.slug_trl    | prepend: '/'  -}}" title="{% t global.english %}" >
              <img src="{{ site.url }}/images/blank.gif" class="flag flag-us" alt="{% t global.english %}" />
            </a>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  {%- endif -%}
  
{%- elsif site.lang == site.translateLang -%}
  {%- if page.layout == 'post' -%}
    <a href=" {{ site.url }}/{{-  page.permalink_trl -}}" title="{% t global.spanish %}" >
      <img src="{{ site.url }}/images/blank.gif" class="flag flag-es" alt="{% t global.spanish %}" />
    </a>
  {%- elsif page.layout == 'page' -%}
    {%- for items in site.translations[site.translateLang]["navbar"] -%}
      {%- for item in items -%}
        {%- if item.slug -%}
          {%- if item.slug_compare == page.url -%}
            <a href=" {{- item.slug_trl | prepend: '/'  -}}" title="{% t global.spanish %}" >
              <img src="{{ site.url }}/images/blank.gif" class="flag flag-es" alt="{% t global.spanish %}" />
            </a>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  {%- endif -%}  
{%- endif -%}